DATABASE_URL=postgres://postgres:password@db:5432/postgres?sslmode=disable
AUTH_BASE_URL=https://redirectmeto.com/http://localhost:8080
BASE_CLIENT_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
SHADERTOY_API_KEY=
